@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    font-family: 'Varela Round', sans-serif;
}

.main {
    background-color: bisque;
    height: 840px;
    padding: 20px 0;
    font-size: 1.3rem;
}

.prodCont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

.prodClass {
    display: flex;
    flex-direction: row;

}

.btn {
    margin-right: 15px;
}

.className {
    margin-left: 54px;

}

h2 {
    margin-bottom: 20px;
}

.checkoutBtn {
    margin-bottom: 30px;
    width: 200px;
    height: 70px;
    font-size: 1.5rem;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    background-color: rgb(204, 146, 87);
}

.checkoutBtn:disabled {
    color: gray;
    background-color: #fff;
    cursor: not-allowed;
}

.total {
    font-weight: bold;
    color: rgb(148, 83, 19);
    font-size: 1.5rem;
}

.historyBtn {
    position: absolute;
    padding: 5px;
    right: 15px;
    top: 40px;
    background-color: rosybrown;
    color: beige;
    cursor: pointer;
    border: 2px solid beige;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
}