$google-font: "https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap";
$baseFontSize: 16px;
$baseFontFamily: "Lato", sans-serif;

//Colors
$gray: #2b3040;
$blue: #212534;
$lightGray: #8d91a3;
$green: #13e28d;
$white: #ffffff;
$yellow: #c3ab3c;
$grayFont: #85889a;
